registry=https://registry.loongnix.cn:5873/
@img:registry=https://registry.loongnix.cn:5873/
@oxc-parser:registry=https://registry.loongnix.cn:5873/
@oxlint:registry=https://registry.loongnix.cn:5873/
@rolldown:registry=https://registry.loongnix.cn:5873/
